<div id="subheader-container">
    <h2>{{ action }} coluna</h2>
    <div class="example-button-container">
        <button mat-mini-fab color="primary" (click)="backPage()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <div>
            <mat-form-field class="full-width">
                <mat-label>ID</mat-label>
                <input matInput disabled [(ngModel)]="column.id">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="column.name">
            </mat-form-field>
        </div>
        <div class="div-separate">
            <button mat-raised-button color="primary" (click)="save()">Salvar</button>
            <button mat-stroked-button (click)="backPage()">Voltar</button>
        </div>
    </mat-card-content>
</mat-card>