<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <span>Ferramenta Kanban</span> 
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
      <mat-selection-list>
          <a mat-list-item routerLink="tarefa">Quadro de tarefas</a>
          <a mat-list-item routerLink="categoria">Categorias</a>
          <a mat-list-item routerLink="coluna">Colunas</a>  
      </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>