<div id="subheader-container">
  <h2>{{ action }} tarefa</h2>
  <div class="example-button-container">
    <button mat-mini-fab color="primary" (click)="backPage()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-card>
  <mat-card-content>
    <div>
      <mat-form-field class="full-width">
        <mat-label>ID</mat-label>
        <input type="number" matInput disabled [(ngModel)]="task.id" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Título</mat-label>
        <input type="text" matInput [(ngModel)]="task.title" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="task.description"></textarea>
      </mat-form-field>
    </div>
    <mat-grid-list cols="2" rowHeight="78px" gutterSize="24px">
      <mat-grid-tile colspan="1">
        <mat-form-field class="full-width">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="task.categoryId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field class="full-width">
          <mat-label>Ordem</mat-label>
          <input type="number" matInput [(ngModel)]="task.order" required/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Coluna</mat-label>
          <mat-select [(ngModel)]="task.columnId" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let column of columns" [value]="column.id">
              {{ column.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="full-width">
          <mat-label>Data de previsão</mat-label>
          <input type="date" matInput [(ngModel)]="task.dtForecast" />
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="div-separate">
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
      <button mat-stroked-button (click)="backPage()">Voltar</button>
    </div>
  </mat-card-content>
</mat-card>
