#subheader-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem; 
}

.full-width {
    width: 100%;
}

.div-separate {
    display: flex;
    gap: 8px;
}

.inputs-color-name {
    gap: 24px;
}

#div-input-name {
    width: 90%;
}

#div-input-name > mat-form-field {
    height: 80px;
}