<div id="subheader-container">
    <h2>{{ action }} categoria</h2>
    <div class="example-button-container">
        <button mat-mini-fab color="primary" (click)="backPage()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <div>
            <mat-form-field class="full-width">
                <mat-label>ID</mat-label>
                <input type="number" matInput disabled [(ngModel)]="category.id">
            </mat-form-field>
        </div>
        <div class="div-separate inputs-color-name full-width">
            <div id="div-input-name">
                <mat-form-field class="full-width">
                    <mat-label>Nome</mat-label>
                    <input type="text" matInput [(ngModel)]="category.name" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Cor</mat-label>
                    <input type="color" matInput [(ngModel)]="category.color" required>
                </mat-form-field>
            </div>
        </div>
        <div class="div-separate">
            <button mat-raised-button color="primary" (click)="save()">Salvar</button>
            <button mat-stroked-button (click)="backPage()">Voltar</button>
        </div>
    </mat-card-content>
</mat-card>